/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: #7743DB;
  --title-color: #C3ACDO;
  --text-color: hsl(205, 53%, 15%);
  --body-color: hsl(230, 100%, 98%);
  --container-color: hsl(230, 100%, 97%);
  --border-color: hsl(230, 25%, 80%);
  --overlay-color: rgba(100, 100, 100, 0.5); /* New: Overlay color for micro-interactions */

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Syne", sans-serif;
  --h2-font-size: 1.25rem;
  --normal-font-size: .938rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-fixed: 100;
  --z-modal: 10000;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1023px) {
  :root {
    --h2-font-size: 1.5rem;
    --normal-font-size: 1rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
input {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
  /* overflow-x: hidden; */
}

.nav {
  /* position: sticky !important; */
  top: 0;
}

input {
  border: none;
  outline: none;
}
.logoboth{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1px;

}
.nav__logo {
  margin-left: 2px;
  display: flex;
  /* align-items: center;
  justify-content: center; */
  gap: 1px;
  
}
.logo img{
  position: absolute;
  left: 0;
 
}
.logo h1{
  position: relative;
  left: 90px;
}

.nav__logo img {
  
  width: 100px;
 
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.main {
  position: relative;
  height: 100vh;
}

.main__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: -1;
}

.search,
.login {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: var(--z-modal);
  background-color: hsla(230, 75%, 15%, 0.1);
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px); /* For safari */
  padding: 8rem 1.5rem 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s;
}

.search__close,
.login__close {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 1.5rem;
  color: var(--title-color);
  cursor: pointer;
}

/*=============== HEADER & NAV ===============*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--body-color);
  box-shadow: 0 2px 16px hsla(230, 75%, 32%, 0.15);
  z-index: var(--z-fixed);
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  transition: color 0.4s;
  display: flex;
  align-items: center;

}


.nav__actions {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  margin-right: 3rem;
  font-size: 1.25rem;

}

.logo{
  display: flex;
  align-items: center;

}
.logo h1{
  font-family: 'Calligraffitti', cursive;
  font-size: 1.5rem;

}
.ri-user-line{
  font-size: 1.5rem;
  color: red;
  cursor: pointer;
  transition: color 0.4s;

}
.nav__search,
.nav__user-icon,
.nav__toggle,
.nav__close ,
.nav__cart
{
  font-size: 1.25rem;
  color: var(--title-color);
  cursor: pointer;
  transition: color 0.4s;
}


.nav__link {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  position: relative; /* New: Position relative for micro-interaction */
  transition: color 0.4s;
}

.nav__link::before {
  content: "";
  position: absolute;
  bottom: -5px; /* Adjust as needed */
  left: 0;
  width: 100%;
  height: 3px; /* Height of the underline */
  background-color: transparent; /* Initially transparent */
  opacity: 0;
  transition: opacity 0.3s, background-color 0.3s;
}

.nav__link:hover,
.nav__link.active {
  color: var(--first-color);
  
}

.nav__link:hover::before,
.nav__link.active::before {
  opacity: 1;
  background-color: var(--overlay-color); 
  transform: translateY(-2px); 
  transition: transform 0.3s ease;
}

/* Navigation for mobile devices */
@media screen and (max-width: 1023px) {
  .nav__menu {
    position: fixed;
    top: -100%;
    left: 0;
    background-color: var(--body-color);
    box-shadow: 0 8px 16px hsla(230, 75%, 32%, 0.15);
    width: 100%;
    padding-block: 4.5rem 4rem;
    transition: top 0.4s;
  }
  .logo h1{
    font-family: 'Calligraffitti', cursive;
    font-size: 1rem;
   
      position: relative;
      left: 50px;
    
  
  }
 
}

.nav__list {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
  text-align: center;
}

.nav__close {
  position: absolute;
  top: 1.15rem;
  right: 1.5rem;
}

/* Show menu */
.show-menu {
  top: 0;
}

/*=============== SEARCH ===============*/
.search__form {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  background-color: var(--container-color);
  box-shadow: 0 8px 32px hsla(230, 75%, 15%, 0.2);
  padding-inline: 1rem;
  border-radius: 0.5rem;
  transform: translateY(-1rem);
  transition: transform 0.4s;
}

.search__icon {
  font-size: 1.25rem;
  color: var(--title-color);
}

.search__input {
  width: 100%;
  padding-block: 1rem;
  background-color: var(--container-color);
  color: var(--text-color);
}

.search__input::placeholder {
  color: var(--text-color);
}

/* Show search */
.show-search {
  opacity: 1;
  pointer-events: initial;
}

.show-search .search__form {
  transform: translateY(0);
}

/*=============== LOGIN ===============*/
.login__form,
.login__group {
  display: grid;
}

.login__form {
  background-color: var(--container-color);
  padding: 2rem 1.5rem 2.5rem;
  box-shadow: 0 8px 32px hsla(230, 75%, 15%, 0.2);
  border-radius: 1rem;
  row-gap: 1.25rem;
  text-align: center;
  transform: translateY(-1rem);
  transition: transform 0.4s;
}

.login__title {
  font-size: var(--h2-font-size);
  color: var(--title-color);
}

.login__group {
  row-gap: 1rem;
}

.login__label {
  display: block;
  text-align: initial;
  color: var(--title-color);
  font-weight: var(--font-medium);
  margin-bottom: 0.25rem;
}

.login__input {
  width: 100%;
  background-color: var(--container-color);
  border: 2px solid var(--border-color);
  padding: 1rem;
  border-radius: 0.5rem;
  color: var(--text-color);
}

.login__input::placeholder {
  color: var(--text-color);
}

.login__signup {
  margin-bottom: 0.5rem;
}

.login__signup a {
  color: var(--first-color);
}

.login__forgot {
  display: inline-block;
  color: var(--first-color);
  margin-bottom: 1.25rem;
}

.login__button {
  display: inline-block;
  background-color: var(--first-color);
  width: 100%;
  color: #fff;
  font-weight: var(--font-semi-bold);
  padding: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: box-shadow 0.4s;
}

.login__button:hover {
  box-shadow: 0 4px 24px hsla(230, 75%, 40%, 0.4);
}

/* Show login */
.show-login {
  opacity: 1;
  pointer-events: initial;
}

.show-login .login__form {
  transform: translateY(0);
}

@media screen and ((min-width: 300px) and (max-width: 400px)){
  .logo img{
    width: 80px;
  }
  .logo h1{
    font-family: 'Calligraffitti', cursive;
    font-size: 0.8rem;
    
      position: relative;
      left: 40px;
    
  
  }
  
}

/*=============== BREAKPOINTS ===============*/
/* For medium devices */
@media screen and (min-width: 576px) {
  .search,
  .login {
    padding-top: 10rem;
  }

  .search__form {
    max-width: 450px;
    margin-inline: auto;
  }
  

  .search__close,
  .login__close {
    width: max-content;
    top: 5rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    font-size: 2rem;
  }

  .login__form {
    max-width: 400px;
    margin-inline: auto;
  }
}

/* For large devices */
@media screen and (min-width: 1023px) {
  .nav {
    height: calc(var(--header-height) + 2rem);
    column-gap: 3rem;
  }

  .nav__close,
  .nav__toggle {
    display: none;
  }

  .nav__menu {
    margin-left: auto;
  }

  .nav__list {
    flex-direction: row;
    column-gap: 3rem;
  }

  .login__form {
    padding: 3rem 2rem 3.5rem;
  }
}
.nav__link.active::before {
  opacity: 1;
  background-color: var(--first-color);
}
.nav__link:hover {
  color: var(--first-color);
  transform: translateY(-2px); 
  transition: transform 0.3s ease;
}


@media screen and (min-width: 1150px) {
  .container {
    margin-inline: auto;
  }
  .logo img{
    position: absolute;
    left: 0;
    width: 100px;
  }
  .logo h1{
    position: relative;
    left: 90px;
  }
}
/* Card sidebar */
.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 25vh;
  height: 100%;
  background-color: rgba(63, 33, 72, 0.2); /* Semi-transparent background */
  backdrop-filter: blur(10px); /* Blur effect */
  z-index: 110; /* Ensure this is higher than the navbar */
  transition: transform 0.3s ease-in-out;
  transform: translateX(100%); /* Hide sidebar initially */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: add a shadow for depth */
  overflow-y: auto;
}

@media screen and (min-width: 767px){
  .sidebar {
    width: 40vh;
  }
  
}
/* Show the sidebar */
.sidebar.show {
  transform: translateX(0); /* Move the sidebar into view */
}
.cart-close{
  position: absolute;
  top: 0.80rem;
  right: 1.5rem;
  font-size: 1.5rem;
  color: var(--title-color);
  cursor: pointer;
}

.bottom{
  height: 30vh;
  width: 100%;
  position: sticky;
  bottom: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  background-color: rgb(252, 244, 255);
  border-radius: 0.5rem;
  margin-top: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2px);
  z-index: 110;
}
.subtotal{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0.5rem;
  border-bottom: 1px solid var(--title-color);
  font-weight: bolder;
}
/* .checkout-btn{
  width: 100%;
  padding: 0.5rem;
  background-color: var(--first-color);
  color: white;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: bolder;
  margin-bottom: 5vh;
} */


/* button:hover .default-btn {
  transform: translateY(-100%);
  opacity: 0;
  pointer-events: none;
}

button:hover .hover-btn {
  transform: translateY(0%);
  opacity: 1;
  pointer-events: auto;
}


.btn {
  width: 85%;
  height: 8vh;
  padding: 1.1em 2em;
  background: none;
  border: 2px solid #fff;
  font-size: 15px;
  color: #131313;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.3s;
  border-radius: 12px;
  background-color: var(--first-color);
  font-weight: bolder;
  box-shadow: 0 2px 0 2px #000;
 }
 
 .btn:before {
  content: "";
  position: absolute;
  width: 100px;
  height: 120%;
  background-color: #934bb9;
  top: 50%;
  transform: skewX(30deg) translate(-150%, -50%);
  transition: all 0.5s;
 }
 
 .btn:hover {
  background-color: #4cc9f0;
  color: #fff;
  box-shadow: 0 2px 0 2px #0d3b66;
 }
 
 .btn:hover::before {
  transform: skewX(30deg) translate(150%, -50%);
  transition-delay: 0.1s;
 }
 
 .btn:active {
  transform: scale(0.9);
 } */


 /* Sign Up Component  */
 /* SignUp.css */

/* Include styles from Login.css */

.signup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: var(--z-modal);
  background-color: hsla(230, 75%, 15%, 0.1);
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px);
  padding: 8rem 1.5rem 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s;
}

.signup__form {
  background-color: var(--container-color);
  padding: 2rem 1.5rem 2.5rem;
  box-shadow: 0 8px 32px hsla(230, 75%, 15%, 0.2);
  border-radius: 1rem;
  row-gap: 1.25rem;
  text-align: center;
  transform: translateY(-1rem);
  transition: transform 0.4s;
}

.signup__title {
  font-size: var(--h2-font-size);
  color: var(--title-color);
}

.signup__group {
  row-gap: 1rem;
}

.signup__label {
  display: block;
  text-align: initial;
  color: var(--title-color);
  font-weight: var(--font-medium);
  margin-bottom: 0.25rem;
}

.signup__input {
  width: 100%;
  background-color: var(--container-color);
  border: 2px solid var(--border-color);
  padding: 1rem;
  border-radius: 0.5rem;
  color: var(--text-color);
}

.signup__input::placeholder {
  color: var(--text-color);
}

.signup__button {
  display: inline-block;
  background-color: var(--first-color);
  width: 100%;
  color: #fff;
  font-weight: var(--font-semi-bold);
  padding: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: box-shadow 0.4s;
}

.signup__button:hover {
  box-shadow: 0 4px 24px hsla(230, 75%, 40%, 0.4);
}

.signup__login {
  margin-top: 1rem;
}

.signup__login a {
  color: var(--first-color);
}

.signup__close {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 1.5rem;
  color: var(--title-color);
  cursor: pointer;
}
/* sign up ends */

/* Updated CSS for Navbar Dropdown */

.nav__dropdown {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.nav__dropdown:hover .nav__dropdown-menu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.nav__user-icon {
  font-size: 1.5rem;
  margin-right: 0.5rem;
  color: #333;
}

.nav__dropdown-menu {
  
  position: absolute;
  top: 1.2rem; /* Adjust this value as needed */
  right:10px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: all 0.3s ease;
  z-index: 1000;
  width: 20vw;
}
@media screen and (max-width: 700px) {
  .nav__dropdown-menu {
    width: 40vw;
  
  }
}

.nav__dropdown-item {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  color: #333;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.nav__dropdown-item:hover {
  background-color: #edd9ec;
}

/* Keep dropdown visible for a short duration after hover */
.nav__dropdown:hover .nav__dropdown-menu,
.nav__dropdown-menu:hover {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.nav__dropdown-menu {
  transition: opacity 0.15s ease, transform 0.15s ease, visibility 2s;
}

#username{
  font-weight: bold;
  
}
