/* Preloader.module.css */

.loadingContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #f2f2f2;
  z-index: 9999;
  display: flex;
  align-items: center;
}

.loadingBar {
  height: 100%;
  background-color: #d21ff6;
  transition: width 0.5s ease-in-out;
}

.loadingText {
  position: absolute;
  right: 10px;
  top: -25px;
  font-size: 12px;
  font-weight: bold;
  color: #ff0000;
}
